body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: rgb(122, 219, 219);
  }
  
#header {
    justify-content: center;
    margin: 20px;
}

.wrapper {
    border: 2px solid #3939d2;
    border-radius: 5px;
    margin: 0 5%;
    /*min-height: 0px;
    height: 0vh;*/
}    

.wrapper > div {
    border: 2px solid #ff4d94;
    border-radius: 5px;
    padding: 1em;
}    

/* Search area */

#search-area {
    grid-area: sA;
    background-color: rgb(200, 169, 230);
}    

#search-area .box {
    border: 2px solid black;
    border-radius: 25px;
    margin: 5px;
    padding: 30px;
}

#search-area .input {
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    height: 3rem;
    line-height: 3rem;
}


#search-area .buttons .button {
    border: 2px solid black;
    border-radius: 25px;
    margin: 5px;
}

/* Current birthday text */

#current-birthday-text {
    grid-area: cBT;
    background-color: rgb(205, 228, 169);
    display: grid;
    flex-direction: row;
    align-items: center;
}    

/* Current birthday date selected */

#current-birthday-selected {
    grid-area: cBS;
    background-color: rgb(166, 227, 166);
    justify-content: space-around;
}    

#current-birthday-selected #displayed {
    border: 2px solid black;
}    


/* Movie information */

#movie-info {
    grid-area: mL;
    background-color: #dbaf94;
}    

/* Youtube Trailer */

#youtube-trailer {
    grid-area: yT;
    background-color: rgb(228, 247, 124);
}    

/* Other films out same year */

#other-films {
    grid-area: oF;
    background-color: rgb(108, 198, 231);
} 

.wrapper {
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    grid-template-columns: 1fr;
    grid-template-areas:
    "sA"
    "cBT"
    "cBS"
    "mL"
    "yT"
    "oF";
}    

@media (min-width: 800px) {
    .wrapper {
        grid-template-columns: repeat(9, 1fr);
        grid-template-areas: 
        "sA sA sA cBT cBS cBS cBS cBS cBS"
        "sA sA sA  mL  mL  mL  mL  mL  mL"
        "sA sA sA  mL  mL  mL  mL  mL  mL"
        "sA sA sA  yT  yT  yT  yT  yT  yT"
        "sA sA sA  oF  oF  oF  oF  oF  oF";
    }    
}    


.spacer {
    margin: 50px;
}    


