@import url('https://fonts.googleapis.com/css?family=Special+Elite');

/* Global */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* CSS variables */
:root {
  --blue: #77c4d3;
  --dark: #201f1f;
  --light: #f9ede3;
  --green: #1e6157;
  --yellow: #fbf9be;
  --red: #ea2e49;
}

/* Utilities */
.hide {
  display: none;
}

html {
  background: #baf9f9;
  padding: 5%;
}

body {
  background:  var(--blue);
  color: var(--dark);
  /*font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
  /*font-family:"tablet-gothic", verdana, arial, sans-serif;*/
  font-family: 'Poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.page-wrapper {
  z-index: 2;
  position: relative;
  min-height: 100vh;  padding-bottom: 2.5rem; 
}

/* Header */
header {
  text-align: center;
  margin-top: -45px;
}

header .banner {
  background-color: rgba(246,247,146,0.9);
  font-size: 1.3em;
  font-weight: bold;
  padding: 0.75em 1em;
  transform: rotate(-2deg);
  /*width: 40%;*/
  margin-top: -15px;
}

/* Sidebar with search form & search history */
aside {
  background: rgba(251,249,190,0.9);
  padding: 5%;
  /*position: absolute;
  left: 0;
  top: 2.5%;
  width: 32.75%*/
  min-height: 75%;
  margin-top: 5em; 
}

#search-button {
  transition: 0.5s;
  background: linear-gradient(90deg, var(--c1, #eeaeca), var(--c2, #94bbe9) 51%, var(--c1, #eeaeca)) var(--x, 0)/ 200%;
  border: 0;
  color: rgb(73, 7, 132);
  font-family: 'Special Elite', cursive;
  font-size: larger;
  box-shadow: 0 0 20px #eee;
}

#search-button:hover { --x: 100%; }

input[type=text] {
  background-color: white;
  background-image: url('../images/icons8-search-20.png');
  background-position: 10px 10px;
  background-repeat: no-repeat; 
  padding-left: 40px;
}

/* Headings */
h1 {
  background: #ea2e49;
  color: #fff;
  display: inline-block;
  padding: 0.5em 1em;
}

h2 {
  font-size: 4em;
  color: #fff;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 1.2em;
  text-align: center;
  margin-bottom: .5em;
}

h3 {
  background: #ea2e49;
  color: #fff;
  display: inline-block;
  padding: 30px;
}

/* Movie section - Title, Poster image, release date, runtime, genre, overview & quote */
#movie-data {
  color:#333;
  margin-right: 0%;
  padding: 5%  0% 5% 5%;
}

.movie-poster{
  width: 300px;
}

.overview {
  font-weight: 300;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 1.5em;
  padding: 0.5em 0;
  text-align: center;
  margin: 2em 0;
}

#movie-quote {
  background: rgba(255,255,255,0.9);
  color:#333;
  margin: 10px -90px 50px 0;
  padding: 5%  15%;
  font-size: 4em;
  font-family: 'Special Elite', cursive;
}

#movie-quote p {
  font-weight: 100;
	font-size: 2rem;
	max-width: 600px;
	line-height: 1.4;
	position: relative;
	margin: 0;
	padding: .5rem .5rem .5rem 5.5rem;
}

#movie-quote p:before,
#movie-quote p:after {
	position: absolute;
	color: var(--red);
	font-size: 8rem;
	width: 4rem;
	height: 4rem;
}

#movie-quote p:before {
	content: '“';
	left: -1rem;
	top: -2rem;
}

#movie-quote p:after {
	content: '”';
	right: -3rem;
	bottom: 1rem;
}

/* YouTube video */
#youtube-trailer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-frame {
  margin-left: 8px
}

/* Other films carousel */
#carousel-header {
  align-items: center;
  justify-content: center;
}

.carousel-poster {
  /*max-width: 20%;
  max-height: auto;*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Footer */
footer {
  background-color: rgba(246,247,146,0.9);
  position: absolute;
  bottom: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  padding: 2em;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

/* Add purple sidebar as pseudo-element as for presentation only */
.page-wrapper::after {
  content: '';
  background: rgba(204,181,240,0.9);
  bottom: 0;
  left: 0;
  position: fixed;
  top: 0;
  width: 30%;
  z-index: -1;
}


